/*
    Here is the content of _settings.scss in order to avoid going back and forth to the file:
    $text-color: #333;

    $primary-color: #FEE859;
    $primary-color-contrast: $text-color;
    $secondary-color: #b1ba1b;
    $secondary-color-contrast: white;

    $bg-color-primary: $secondary-color;
    $bg-color-primary-contrast: white;
    $bg-color-secondary: lighten($secondary-color, 53);
    $bg-color-secondary-contrast: $text-color;
    $bg-color-tertiary: white;

    $border-color: #e2e2e2;
    $border-radius: 3px;
    $box-shadow: 1px 2px 8px 0px #d4d4d4;

    $player-picture-size: 60px;
    $player-picture-size-lg: 80px;
 */

.player {
  /* Mobile UI not implemented */

  @include media-breakpoint-up(sm) {
    /* Desktop UI not implemented - Desktop is considered >= 576px */
  }

  &__selection {
    align-items: center;
    background-color: $bg-color-secondary;
    border-radius: 0 $border-radius $border-radius 0;
    display: flex;
    font-weight: bold;
    padding: 0.5em;
    @include media-breakpoint-up(sm) {
      border-radius: 0 0 $border-radius $border-radius;
      justify-content: center;
    }
  }
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
