@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 1.2em;
}
